page-login {
    .titulo {
        background-color: rgb(73, 80, 88);
        color: rgb(160, 163, 168);
        text-align: center;
    }

    .grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
    }

    .item1 {
        display: inline-block;
        margin: auto;
        margin-top: 8rem;
        width: 35%;
        
        img {
            border-radius: 1rem;
            display: block;
            margin: 0 auto;
        }

        h1, h2 {
            text-align: center;
        }

        h1 {
            font-weight: bold;
            font-size: xx-large;
        }

        h2 {
            font-weight: lighter;
            font-size: x-large;
        }
    }

    .item2 {
        .recordar {
            float: right;
            color: rgb(0, 145, 243);
        }

        .inputs{
            margin-top: 5rem;
        }

        .label {
            color: rgb(129, 141,153);
            font-weight: bold;
        }

        .entrarBtn, input {
            width: 90%;
            display: block;
            margin: 0 auto;
            height: 4rem;
        }

        input {
            border: 1px solid rgb(188, 197, 205);
            border-radius: 5px;
            padding-left: 1rem;
        }

        ion-label {
            width: 90%;
            display: block;
            margin: 0 auto;
            margin-bottom: .7rem;
        }

        .entrarBtn {
            background-color: rgb(188, 197, 205);
            color: white;
            position: relative;
            top: 15%;
            border-radius: 60px;
            font-weight: bold;
        }

        .labelContra {
            margin-top: 3rem;
        }

        #iconEye, #iconEyeFill {
            float: right;
            left: -8%;
            margin-top: -30px;
            position: relative;
            z-index: 2;
            color: rgb(182, 192, 201);
            font-size: 2rem;
        }
    }
}
