<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <div class="titulo">
    App Educa Monitores
  </div>
  <div class="grid">
    <div class="item1">
      <img src="../../assets/imgs/defaultImage.png" />

      <h1>ColeChef</h1>
      <h2>Monitores</h2>
    </div>
    <div class="item2">
      <div class="inputs">
        <ion-label class="ion-no-margin">
          <span class="label">DNI</span>
        </ion-label>
        <input placeholder="Indique DNI 00000000A">

        <ion-label no-margin class="labelContra">
          <span class="recordar"><a href="#">Recordar contraseña</a></span>
          <span class="label">Contraseña</span>
        </ion-label>
        <div class="passContainer">
          <input id="password" type="password" placeholder="Mín.8caracteres, 1mayúscula y n°">
          
          <svg *ngIf="!eyeFill" id="iconEye" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="changeEye()">
            <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
            <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg>
          <svg *ngIf="eyeFill" id="iconEyeFill" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="changeEye()">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg>
        </div>
      </div>

      <button class="entrarBtn">ENTRAR</button>
    </div>
  </div>
</ion-content>
