@import '../../theme/fonts.scss';

page-detalles {

    ion-card {
        transform: scale(0.9);
    }

    #divId, .power {
        float: right;
    }

    .typeImg {
        width: 30px;
        display: inline;
        margin-left: 5px;
    }

    ion-card {
        padding: 0px 20px 20px 20px;
        font-family: 'Futura';
    }

    .card-md {
        border-radius: 10px;
    }

    #imageDetalle {
        width: 100%;
    }

    .imgPokmn {
        border-left: #855805 7px solid;
        border-right: #855805 7px solid;
        border-top: #855805 3px solid;
    }

    ion-card-title {
        font-weight: bold;
    }

    .card-content-md {
        padding-left: 0px;
        padding-right: 0px;
    }

    .item-md {
        padding-left: 10px;
        background-color: rgba(0, 0, 0, 0);
    }

    figcaption {
        text-align: center;
        background-color: lavender;
        border-radius: 0px 0px 10px 10px;
        font-size: 0.7em;
        padding-top: 2px;
    }

    figure {
        margin: 0;
    }

    #divType {
        position: relative;
        top: -15px;
        font-size: small;
        border-radius: 10px 0px 8px 3px;
        background-color: rgb(230, 230, 250);
        color: rgb(114, 114, 124);
        padding: 3px;
        left: -10px;
        padding-right: 15px;
    }

    .move {
        font-weight: bold;
        margin-left: 40px;
        position: relative;
        top: -5px;
    }

    .power {
        font-weight: bold;
        position: relative;
        top: 5px;
    }

    .label-md {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .card-content-md #pokemonContent {
        margin-bottom: 0px;
    }

    .typeImg {
        position: relative;
        top: 5px;
    }

    #capturarDiv, #apodoDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #apodoBtn {
        display: inline;
        margin-left: 1rem;
    }

    .scroll-content {
        margin-top: 1rem !important;
    }

    #apodoInput {
        width: 30%;
    }
}
