<!--
  Generated template for the DetallesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detalles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [style.background]="cardColor" [style.width]="width">
    <div>
      <ion-card-title>
        <span id="divType">{{ pokemon.type | uppercase }}</span>
        <span id="divName"><span *ngIf="pokemon.captured"><span class="iconify" data-icon="mdi-pokeball" data-inline="false"></span></span>{{ pokemon.name | titlecase }}</span>
        <span id="divId"><span style="font-size: small;">No.</span> {{ pokemon.id }}<img class="typeImg" *ngIf="typeImage" src="../../assets/imgs/{{ typeImage }}.png" /></span></ion-card-title>
      </div>
      <figure>
        <img class="imgPokmn" id="imageDetalle" *ngIf="image" src="{{ image }}" />
        <img class="imgPokmn" height="320" *ngIf="!image" src="../../assets/imgs/noimage.png" />
        <figcaption>NO. {{ pokemon.id }} &nbsp;&nbsp; HT. {{ pokemon.height }} &nbsp;&nbsp; WT. {{ pokemon.weight }}</figcaption>
      </figure>

    <div *ngIf="moves && moves.length > 0">
      <ion-card-content id="pokemonContent" *ngFor="let move of moves">
        <ion-item>
          <ion-label>
            <img class="typeImg" *ngIf="typeImage" src="../../assets/imgs/{{ typeImage }}.png" />
            <span class="move">{{ move.move | titlecase }}</span>
            <span class="power">{{ move.power }}</span>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </div>
    
    <div id="capturarDiv">
      <button *ngIf="!pokemon.captured" ion-button color="success" (click)="capturar()">Capturar</button>
      <button *ngIf="pokemon.captured" ion-button color="danger" (click)="liberar()">Liberar</button>
    </div>

    <div id="apodoDiv" *ngIf="pokemon.captured">
        <input cMaxLength [cMaxLength]="5" id="apodoInput" name="apodo" [(ngModel)]="apodo" type="text" maxlength="5" placeholder="Apodo" (keyup)="escribirApodo($event)">
        <button id="apodoBtn" ion-button color="success" (click)="ponerApodo()">Guardar</button>
    </div>
  </ion-card>
</ion-content>
