page-select-message {
    ion-content {
        width: 85%;
        position: relative !important;
        margin: 0 auto;
    }

    ion-navbar {
        * {
            background-color: white;
        }
    }

    .radio:checked, .radio:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .radio:checked + label, .radio:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
        font-size: large;
        padding-left: 4rem;
    }

    .radio:checked + label:before, .radio:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background: #fff;
    }

    .radio:checked + label:before {
        border: 1.2px solid rgb(73, 80, 88);
    }

    .radio:not(:checked) + label:before {
        border: 1.2px solid rgb(234, 237, 241);
    }

    .radio:checked + label:after, .radio:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: rgb(73, 80, 88);
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .radio:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .radio:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .enviarBtn {
        background-color: rgb(73, 80, 88);
        color: white;
        position: relative;
        top: 15%;
        border-radius: 60px;
        font-weight: bold;
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 4rem;
        margin-top: 20%;
    }

    form {
        margin-top: 2rem;
    }

    .titulo {
        background-color: rgb(73, 80, 88);
        color: rgb(160, 163, 168);
        text-align: center;
    }

    p {
        margin-bottom: 2rem;
    }

    .navbar {
        display: flex;
        margin-top: 2rem;
    }

    .backDiv {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .subtitle {
        padding-left: 12px;
        font-size: large;
        color: #424242;
    }

    .backBtn {
        background-color: white;
    }

    .fa-chevron-left {
        font-size: x-large;
        color: rgb(120, 132, 145);
    }

    .titleDiv {
        width: 80%
    }
    
    .title {
        font-weight: bolder;
    }

    .title > * {
        color: black;
    }
}