<!--
  Generated template for the SelectMessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="titulo">
    App Educa Monitores
  </div>
  <ion-navbar hideBackButton>
    <div class="navbar">
      <div class="backDiv">
        <button class="backBtn" (click)="back()">
          <span class="fa fa-chevron-left"></span>
        </button>
      </div>

      <div class="titleDiv">
        <ion-title class="title">Enviar comunicación</ion-title>
        <p class="subtitle">Seleccione uno de los mensajes a enviar al grupo de alumnos marcado:</p>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form action="" name="form">
      <p>
        <input class="radio" type="radio" name="message" id="message1" value="message1">
        <label for="message1">
          Os recordamos que nuestro comedor escolar permanecerá cerrado hoy.
        </label>
      </p>

      <p>
        <input checked class="radio" type="radio" name="message" id="message2" value="message2">
        <label for="message2">
          A partir de hoy empezamos con la jornada intensiva.
        </label>
      </p>

      <p>
        <input class="radio" type="radio" name="message" id="message3" value="message3">
        <label for="message3">
          Hoy celebramos una de nuestras jornadas gastronómicas.
        </label>
      </p>

      <p>
        <input class="radio" type="radio" name="message" id="message4" value="message4">
        <label for="message4">
          ¡Os deseamos unas felices fiestas!
        </label>
      </p>

      <p>
        <input class="radio" type="radio" name="message" id="message5" value="message5">
        <label for="message5">
          ¡Os deseamos unas felices vacaciones, nos vemos a la vuelta!
        </label>
      </p>

      <p>
        <input class="radio" type="radio" name="message" id="message6" value="message6">
        <label for="message6">
          Hoy celebramos una actividad de nuestro proyecto educativo.
        </label>
      </p>

      <button type="submit" class="enviarBtn">ENVIAR</button>
  </form>
</ion-content>

