<ion-header>
  <ion-navbar>
    <ion-title>
      {{ "title" | traductor:lang }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      {{ exampleText }}
    </ion-label>
  </ion-item>

  <button ion-button color="primary" (click)="traducir()" id="traducirBtn">{{ "translate" | traductor:lang }}</button>
  <button ion-button color="primary" (click)="ejercicio()">{{ "button" | traductor:lang }}</button>
  <button ion-button color="primary" (click)="login()">Login</button>
  <button ion-button color="primary" (click)="message()">Message</button>

  <ion-content fullscreen id="pokemonContent">
    <listar-pokemons [pokemons]=fromApi></listar-pokemons>
  </ion-content>
</ion-content>
