@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/futura/futur.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/futura/Futura\ Bold\ font.ttf');
    font-weight: 400;
    font-style: bold;
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/futura/Futura\ Heavy\ font.ttf');
    font-weight: 500;
    font-style: bolder;
}