<ion-list>
  <ion-list-header>
    Pokemons
  </ion-list-header>
  <div *ngIf="pokemons && pokemons.length > 0">
    <div *ngFor="let pokemon of pokemons">
      <ion-item>
        <ion-label>
          <div class="btnImg">
            <button *ngIf="!isBrowser" ion-button color="success" (click)="selectImage(pokemon.id, images)">Foto</button>
            <!--<button type="file" accept="image/*" *ngIf="isBrowser" ion-button color="success" onchange="selectImage(pokemon.id, images)">Foto</button>-->
            <!--<input ion-input  #file type="file" accept='image/*' (change)="preview(file.files, pokemon.id)" />-->
            <span *ngIf="isBrowser" class="fileUpload btn btn-primary">
              <span style="color: white;">FOTO</span>
              <input #file type="file" class="upload" accept='image/*' (change)="preview(file.files, pokemon.id)" />
            </span>
            <button ion-button color="primary" (click)="verDetalles(pokemon)">Ver</button>
          </div>

          <div class="pkmn">
            <div class="divImg" *ngIf="images[pokemon.id]">
              <img height="50" width="50" src="{{ images[pokemon.id] }}"/>
            </div>
            <div class="divImg" *ngIf="imgURL[pokemon.id]">
              <img *ngIf="isBrowser" height="50" width="50" [src]="imgURL[pokemon.id]"/>
            </div>

            <div class="divPkmn">
              <h2><span *ngIf="pokemon.captured"><span class="iconify" data-icon="mdi-pokeball" data-inline="false"></span></span>{{ pokemon.name | titlecase }}</h2>
              <h3>Id: {{ pokemon.id }}</h3>
              <p>Height: {{ pokemon.height }}</p>
              <p>Weight: {{ pokemon.weight }}</p>
              <p>Type: {{ pokemon.type }}</p>
            </div>
          </div>
        </ion-label>
      </ion-item>
      
    </div>
  </div>
</ion-list>