listar-pokemons {
    .pkmn {
        display: flex;
    }

    .btnImg {
        float: right;
    }

    .divImg {
        margin-right: 10px;
    }

    h2 {
        padding-top: 2px;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
        padding-left: 15.4px;
        padding-right: 15.4px;
        padding-top: 8px;
        padding-bottom: 9px;
        background: #488aff;
        border-radius: 2px;
        top: 5px;
        font-weight: 500;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
